{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    },
    "env": {
      "browser": true,
      "node": true
    }
}
