body{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

.margin-bottom{
  margin-bottom: 40px;
}

.margin-top{
  margin-top: 40px;
}



/*==============================================
              TABLE
================================================*/
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  border: 1px solid #ccc;
}

.table > thead > tr > th{
  background: #3F51B5;
  height: 54px;
  font-weight: lighter;
  text-shadow: 0 1px 0 #3F51B5;
  color: white;
  border: 1px solid #3F51B5;
  box-shadow: inset 0px 1px 2px #3F51B5;
  transition: all 0.2s;
  vertical-align: middle;
}
.table > tbody > tr > td{
  padding: 12px 8px;
}
.table tbody tr:nth-child(odd) {
  background: #eee;
}

/*==============================================
            HEADER
================================================*/
.app-bar a{
  color: #fff;
  text-decoration: none;
}

.app-bar a:hover{
  color: #ddd;
}

.breadcrumbs a{
  font-size: 30px;
  text-decoration: none;
}

.header {
  text-align: center;
}

.header .logout{
  font-size: 16px;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.header-section-2{
  margin-top: 16px;
}
/* ------ search filter ------- */


.search-container{
 position: relative;
 padding: 4px 10px;
 display: inline-block;
}


.search-container label {
  float: left;
  font-weight: normal;
  margin-left: 4px;
  font-size: 16px;
}

.search-container input{
  padding: 7px 14px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}

/* ------ new bundle btn ------- */

.new-bundle-container .r-button{
  float: left;
  margin-top: 28px;
  margin-left: 20px;
}


/*==============================================
          MODAL FORM
================================================*/


.modal-body{
  position: relative;
  background: white;
  padding: 0 20px;
  width: 100%;
}

.close-modal{
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 16px;
  right: 7px;
  /*border: 2px solid;*/
  /*border-color: #551A8B;*/
  /*border-radius: 50%;*/
  font-size: 18px;
  color: #551A8B;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  line-height: 15px;
  transition: all .5s ease-in-out;
}

.close-modal:hover{
  border-color: #D91E18;
  color: #D91E18;
}

.ReactModal__Body--open{
  box-shadow: 0px 50px 30px -30px rgba(0,0,0,0.3);
}

.title{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
  color: #551A8B;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}

.description{
  text-align: center;
  color: #666;
  margin-bottom: 5px;
}
.input-group {
  display: block;
  min-width: 200px;
}
.input-group > label{
  display: inline-block;
  margin-bottom: 4px;
  color:  #551A8B;;
}

input[type="text"], input[type="email"], input[type="date"],
 input[type="password"], input[type="number"] {
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

.last-input-group input {
  margin-bottom: 5px;
}

.button{
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 3px;
  background: #5cb85c;
  color: white;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
  border-color: transparent;
}

.button.button-clear{
  background: #fff;
  color: #5cb85c;
  border-color: #5cb85c;
  border: 1px solid;
  margin-left: 20px;
}


/*================== Select input style ==================*/
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
}

.styled-select select {
    background: transparent;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */

}

.styled-select.slate {
   height: 34px;
   width: 100%;
   border: 1px solid #999;
   border-radius: 3px;
   margin-bottom: 20px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
}

/*================== Login Form ==================*/
.login-form-container{
  border: 1px solid #afacac;
  border-radius: 4px;
  padding: 40px 60px;
}


/*==============================================
          REACT ALERT
================================================*/


/*============ error alert ==============*/

.react-alerts .error .icon{
  margin-bottom: 18px;
}

.react-alerts .error .icon > img {
  width: 100%;
}

/*==============================================
          SETTINGS
================================================*/

.settings {
  margin: 114px 40px 0;
}


.serials-form{
  margin: 0 40px;
  padding: 16px 0;
}

.settings .form-submit{
  margin-top: 20px;
}
